* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: monospace;
    /* 文字不可选中 */
}

:root {
    --animationTime_dot5s: .5s;
    --animationTime_dot8s: .8s;
    --animationTime_dot2s: .2s;
    --animationTime_dot3s: .3s;
    --weplistWidth: 200px;
    --mainColor1: rgb(99, 208, 208);
    --mainColor2: rgb(40, 181, 202);
    --mainColor3: rgb(175, 199, 255);
}

.bodyMain {
    /* background-color: red; */
    position: relative;
}

@media screen and (max-width: 500px) {
    .weaponShowBox {
        width: 95vw;
        height: 96vh;
        background-color: transparent;
        background-image: linear-gradient(135deg, var(--mainColor1), var(--mainColor2), var(--mainColor3));
        box-shadow: 0 0 10px #ccc;
        position: relative;
        top: 2vh;
        left: 50vw;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .wTitle {
        width: 90vw;
        /* height: 10%; */
        /* background-color: red; */
        display: grid;
        grid-template-areas:
            "header header icon"
            "content sidebar icon";
        position: relative;
        margin-top: 1vh;
    }

    .wName {
        width: 50vw;
        height: 20vw;
        /* background-color: rgb(0, 247, 255); */
        /* text-shadow: 0 0px 3px rgb(39, 186, 196); */

        grid-area: header;
    }

    .wName span {
        width: 7em;
        height: 2.5em;
        line-height: 2.5em;
        background-color: rgba(0, 0, 0, .6);
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
        display: block;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        border-radius: 5px;
        animation: aaa var(--animationTime_dot5s);
    }

    .wType {
        width: 25vw;
        height: 20vw;
        /* background-color: rgb(0, 255, 170); */
        color: rgb(255, 255, 255);
        grid-area: content;
    }

    .wType span {
        width: 100%;
        height: 2em;
        line-height: 2em;
        background-color: rgba(0, 0, 0, .6);
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
        border-radius: 5px;
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        animation: aaa var(--animationTime_dot5s);
    }

    .wIcon {
        width: 25vw;
        height: 20vw;
        /* background-color: rgb(73, 255, 2); */
        /* box-shadow: 0 0 5px rgb(0, 0, 0); */
        grid-area: sidebar;
    }

    .wIcon img {
        width: 15vw;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        position: relative;
        top: 50%;
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
        left: 50%;
        transform: translate(-50%, -50%);
        animation: bbb var(--animationTime_dot3s);
        border: 2px solid #aaa;
    }

    .wIcon2 {
        width: 40vw;
        height: 40vw;
        grid-area: icon;
        /* background-color: bisque; */
    }

    .wIcon2img {
        width: 38vw;
        height: 38vw;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid rgb(20, 20, 20);
        border-radius: 10px;
        position: relative;
        overflow: hidden;

    }

    .wIcon2 img {
        width: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(10px 10px 3px rgba(0, 0, 0, 0.7));
    }

    .wValue {
        width: 90vw;
        /* height: 100px; */
        margin-top: 1vh;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .moduleA {
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        font-size: 17px;
        box-shadow: 0 1px 5px rgba(13, 94, 144, 0.785);
        margin-bottom: 1vh;

    }

    .moduleA span {
        height: 2em;
        line-height: 2em;
        /* background-color: red; */
        color: #fff;
        font-weight: bold;
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        animation: aaa var(--animationTime_dot5s);
    }

    .wList {
        width: 70%;
        height: 62%;
        background-color: #fff;
        position: fixed;
        top: 60%;
        transform: translateY(-50%);
        /* overflow: hidden; */
        transition: width .5s;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 0 3px rgb(83, 83, 83);
        overflow: hidden;
    }

    .wListHidden {
        width: 4%;
        height: 62%;
        position: fixed;
        background-color: transparent;
        box-shadow: 0 0 3px rgb(83, 83, 83);
        top: 60%;
        transform: translateY(-50%);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: all .5s;
        opacity: .5;
    }

    .showList {
        width: 10%;
        height: 100px;
        background-color: #fff;
        position: fixed;
        top: 60%;
        left: 70%;
        transform: translateY(-50%);
        border-bottom-right-radius: 2vh;
        border-top-right-radius: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s;
        box-shadow: 1px 0 0px rgb(107, 107, 107);
        cursor: pointer;
    }

    .showListBack {
        width: 12%;
        height: 100px;
        background-color: transparent;
        /* background-color: rgb(255, 255, 255); */
        position: fixed;
        top: 60%;
        left: 0%;
        transform: translateY(-50%);
        border-bottom-right-radius: 2vh;
        border-top-right-radius: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 0 0px rgb(107, 107, 107);
        transition: all .5s;
        opacity: .3;
        cursor: pointer;
    }

    .showList i {
        color: rgba(0, 0, 0, 0.7);
        font-size: 1em;
        transition: all var(--animationTime_dot3s);
        transform: rotate(180deg);
        /* animation: angleLight 1s infinite; */
    }

    .showListBack i {
        transform: rotate(0deg);
        font-size: 1.2em;
        color: #fff;
        transition: all var(--animationTime_dot3s);
        /* animation: angleLight 1.2s ease-in-out infinite; */
    }

    .wInput {
        width: 90%;
        /* background-color: violet; */
        margin-top: 1vh;
        display: flex;
        align-items: center;
    }

    .wInput span {
        width: 4em;
        color: #fff;
        background-color: rgb(0, 0, 0, 0.7);
        font-weight: bold;
        text-align: center;
        border-radius: .5vh;
    }

    .wInput input {
        width: 3em;
        border-radius: .5vh;
        margin-left: 1vh;
        margin-right: 1vh;
        outline: 0;
    }

    .wInput i {
        color: rgb(107, 107, 107);
        margin-right: .5vw;
    }

    /* 武器特效 */
    .wAffix {
        width: 90%;
        /* background-color: palegoldenrod; */
        margin-top: 2vh;
    }


    .affixName {
        width: 100%;
        /* background-color: red; */

    }

    .affixName span {
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
    }

    .affixText {
        width: 100%;
        /* background-color: blue; */
        text-indent: 1.6em;
        padding-top: 1vh;
        padding-left: 3vh;
        padding-right: 3vh;
    }

    .affixText span {
        color: #fff;
        /* font-weight: bold; */
        font-size: 14px;

    }
}

@media screen and (min-width: 900px) {
    .weaponShowBox {
        width: 30vw;
        height: 96vh;
        background-image: linear-gradient(135deg, var(--mainColor1), var(--mainColor2), var(--mainColor3));
        box-shadow: 1px 1px 10px #ccc;
        position: relative;
        top: 2vh;
        left: 50vw;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        /* overflow: hidden; */
    }

    .wTitle {
        width: 90%;
        height: 20vh;
        /* background-color: red; */
        display: grid;
        grid-template-areas:
            "header header icon"
            "content1 sidebar icon";
        position: relative;
        margin-top: 2vh;
    }

    .wName {
        width: 12vw;
        height: 10vh;
        /* background-color: rgb(0, 247, 255); */
        grid-area: header;
    }

    .wName span {
        width: 12vw;
        height: 2.5em;
        line-height: 2.5em;
        background-color: rgba(0, 0, 0, .6);
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
        display: block;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        border-radius: 5px;
        animation: aaa var(--animationTime_dot5s);
    }

    .wType {
        width: 6vw;
        height: 10vh;
        /* background-color: rgb(0, 255, 170); */
        color: rgb(255, 255, 255);
        grid-area: content1;
    }

    .wType span {
        width: 5vw;
        height: 10vh;
        line-height: 10vh;
        background-color: rgba(0, 0, 0, .6);
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
        border-radius: 5px;
        display: block;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        animation: aaa var(--animationTime_dot5s);
    }

    .wIcon {
        width: 6vw;
        height: 10vh;
        background-color: rgba(0, 0, 0, .6);
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
        border-radius: 5px;
        grid-area: sidebar;
    }

    .wIcon img {
        width: 4vw;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: bbb var(--animationTime_dot3s);
        filter: drop-shadow(3px 3px 2px #000) brightness(2);
    }

    .wIcon2 {
        width: 15vw;
        height: 20vh;
        grid-area: icon;
        /* background-color: bisque; */
    }

    .wIcon2img {
        width: 90%;
        height: 93%;
        position: relative;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid rgb(20, 20, 20);
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }

    .wIcon2 img {
        width: 100%;
        height: 100%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(10px 10px 3px rgba(0, 0, 0, 0.7));
    }

    .wValue {
        width: 90%;
        /* height: 100px; */
        margin-top: 2vh;
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .moduleA {
        width: 100%;
        height: 6vh;
        background-color: rgba(0, 0, 0, .6);
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 17px;
        box-shadow: 0 1px 5px rgba(13, 94, 144, 0.785);
        margin-bottom: 1vh;

    }

    .moduleA span {
        height: 5vh;
        line-height: 5vh;
        /* background-color: red; */
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        animation: aaa var(--animationTime_dot5s);
    }

    .wList {
        width: 20vw;
        height: 80%;
        background-color: #fff;
        position: fixed;
        top: 50%;
        left: 100px;
        transform: translateY(-50%);
        /* overflow: hidden; */
        transition: width .5s;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 0 3px rgb(83, 83, 83);
        overflow: hidden;
    }

    .showList {
        display: none;
    }

    .wInput {
        width: 90%;
        height: 5vh;
        /* background-color: violet; */
        margin-top: 1vh;
        display: flex;
        align-items: center;
    }

    .wInput span {
        width: 4em;
        height: 5vh;
        line-height: 5vh;
        color: #fff;
        background-color: rgb(0, 0, 0, 0.7);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border-radius: .5vh;
    }

    .wInput input[type="number"] {
        width: 5em;
        height: 5vh;
        border-radius: .5vh;
        margin-left: 1vh;
        margin-right: 1vh;
        outline: 0;
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        background-color: rgb(0, 0, 0, 0.7);
        padding-left: 10px;
    }

    .wInput input[type="checkbox"] {
        width: 2em;
        height: 5vh;
        border-radius: .5vh;
        margin-left: 1vh;
        margin-right: 1vh;
        outline: 0;
        font-size: 16px;
    }

    .wInput label {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }

    .wInput i {
        color: rgb(107, 107, 107);
        margin-right: .5vw;
    }

    /* 武器特效 */
    .wAffix {
        width: 90%;
        /* background-color: palegoldenrod; */
        margin-top: 2vh;
    }


    .affixName {
        width: 100%;
        /* background-color: red; */

    }

    .affixName span {
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 23px;
    }

    .affixText {
        width: 100%;
        /* background-color: blue; */
        text-indent: 1.6em;
        padding-top: 1vh;
        padding-left: 3vh;
        padding-right: 3vh;
    }

    .affixText span {
        color: #fff;
        /* font-weight: bold; */
        font-size: 18px;

    }

}

/* ::-webkit-scrollbar {}

::-webkit-scrollbar-thumb {}

::-webkit-scrollbar-track {} */





.linearGradient1 {
    background: linear-gradient(45deg, rgb(138, 138, 138), rgb(65, 65, 65)), rgb(160, 160, 160);
}

.linearGradient2 {
    background: linear-gradient(45deg, rgb(125, 165, 140), rgb(125, 165, 140), rgb(114, 155, 140));
}

.linearGradient3 {
    background: linear-gradient(45deg, rgb(148, 176, 204), rgb(118, 160, 202), rgb(84, 124, 164));
}

.linearGradient4 {
    background: linear-gradient(45deg, rgb(129, 116, 171), rgb(125, 105, 197), rgb(135, 109, 217));
}

.linearGradient5 {
    background: linear-gradient(45deg, rgb(211, 189, 47), rgb(255, 201, 4), rgb(235, 197, 32));
}



.wMes {
    width: 95%;
    /* background-color: green; */
    margin-top: .5vh;
}

.moduleE {
    width: 100%;
    height: 4vh;
    /* background-color: rgba(0, 0, 0, 0.244); */
    display: flex;
    align-items: center;
    padding-left: 1vh;
}

/* 星星icon添加 */
.staricon {
    color: rgb(246, 193, 19);
    font-size: 13px;
    animation: ccc .2s;
}

/* 星星icon隐藏 */
.clearStar {
    color: rgb(246, 193, 19);
    font-size: 13px;
    animation: ddd .3s;
    opacity: 0;
}






.wListHidden .weplistbox,
.wListHidden .listChoose {
    opacity: 0;
    transition: opacity .2s;
}

.weplistbox {
    width: 100%;
    height: 90%;
    /* background-color: rgb(224, 36, 36); */
    overflow: auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.weplistbox ul {
    width: 90%;
    height: max-content;
    /* background-color: antiquewhite; */
    /* border: 2px solid #ccc; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weplistbox li {
    font-size: 16px;
    width: 10em;
    height: 2em;
    line-height: 2em;
    /* background-color: transparent; */
    border-bottom: 1px solid #ccc;
}

li {
    text-align: center;
    list-style: none;
    cursor: pointer;
}


.listChoose {
    width: 100%;
    height: min-content;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-areas:
        "header header"
        "content content";
}



@keyframes angleLight {
    0% {
        text-shadow: 0 0 5px #ccc;
        transform: translateX(0px);
    }

    25% {
        text-shadow: 0 0 15px #ccc;
        transform: translateX(2.5px);

    }

    50% {
        text-shadow: 0 0 15px #ccc;

        transform: translateX(5px);
    }

    75% {
        text-shadow: 0 0 5px #ccc;

        transform: translateX(2.5px);
    }

    100% {
        text-shadow: 0 0 5px #ccc;

        transform: translateX(0px);
    }
}

/* 下拉菜单指示箭头方向变化 */
.wepSiftChoose i {
    margin-left: 1vw;
    transition: all var(--animationTime_dot2s);
}

.arrowUp {
    transform: rotate(180deg);
    transition: all var(--animationTime_dot2s);
}

.wepListA {
    width: 100%;
    display: block;
    color: rgb(158, 158, 158);
    animation: heightShow .4s;
    /* background-color: rgb(129, 129, 129); */
}

.siftListHidden {
    color: rgb(158, 158, 158);
    height: 0;
    animation: heightBack .4s;
    opacity: 0;
    overflow: hidden;

}

.wepListA li {
    height: 4vh;
    line-height: 4vh;
}

.liChecked {
    width: 100%;
    /* font-size: 90%; */
    color: #fff;
    /* padding-right: 10px; */
    /* transform: translateX(20px); */
    /* border-top-right-radius: 4vh; */
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px -2px 5px rgb(93, 93, 93);
    transition: all var(--animationTime_dot3s);
}

.liUnChecked {
    /* transition: all .2s; */
}

.wepSiftChoose {
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid black;
}

.wepSiftChoose span {
    height: 4vh;
    line-height: 4vh;
    font-size: 16px;
    font-weight: bold;
}



/* 动画 */
@keyframes aaa {
    0% {
        opacity: 0;
    }

    100% {

        opacity: 1;
    }

}

@keyframes bbb {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ccc {
    0% {
        transform: scale(3);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes ddd {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes heightShow {
    0% {
        height: 0;
        overflow: hidden;
    }

    100% {
        overflow: hidden;
        height: 20vh;
    }
}

@keyframes heightBack {
    0% {
        height: 20vh;
    }

    100% {
        height: 0;
    }
}

@keyframes backSidebar {
    0% {
        width: 60%;
    }

    100% {
        width: 0;
    }
}



/* 页脚 */
.footer {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    bottom: -10vh;
    font-weight: bold;
    font-family: monospace, Courier, 'Courier New';
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer span {
    /* background-color: #ccc; */
    height: 3vh;
    line-height: 3vh;
    margin: .2vh;
}

.footer a {
    color: white;
    text-decoration-color: #ccc;
}