* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    /* 文字不可选中 */
}

:root {
    --animationTime_dot5s: .5s;
    --animationTime_dot8s: .8s;
    --animationTime_dot2s: .2s;
    --weplistWidth: 200px;
}

.bodyMain {
    /* background-color: red; */
    position: relative;
}

li {
    text-align: center;
    list-style: none;

    cursor: pointer;

}

.main {
    position: relative;
    width: 80vw;
    height: 48vh;
    /* z-index: 1; */
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
}



.weplist {
    width: var(--weplistWidth);
    height: 48vh;
    /* border: 1px solid black; */
    overflow: auto;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* background-color: red; */
}

.listChoose {
    width: 100px;
    height: min-content;
    background-color: rgb(255, 255, 255);

    /* position: absolute; */
    /* left: calc(var(--weplistWidth)); */
}

::-webkit-scrollbar {}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
}

.weplist li {
    height: 6vh;
    line-height: 6vh;
    width: 100%;
    background-color: aliceblue;
    font-size: 16px;
    font-weight: bold;
}

.weaponShowBox {
    width: 90vw;
    height: 90vh;
    background-color: transparent;
    background-image: linear-gradient(135deg, rgb(99, 208, 208), rgb(40, 181, 202), rgb(175, 199, 255));
    box-shadow: 0 0 10px #ccc;
    position: relative;
    top: 5vh;
    left: 50vw;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moduleA {
    width: 90%;
    height: 40px;
    background-color: rgba(254, 235, 235, 0.3);
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    box-shadow: 0 1px 5px rgba(13, 94, 144, 0.785);

}

.moduleA span {
    /* background-color: red; */
    color: #fff;
    font-weight: bold;
    display: block;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    animation: aaa var(--animationTime_dot5s);
}

.moduleB {
    width: 90%;
    /* background-color: grey; */
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-top: 8px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0px 3px rgb(39, 186, 196);
    /* animation: aaa .5s; */
}

.moduleB span {
    animation: aaa var(--animationTime_dot5s);
}

@keyframes aaa {
    0% {
        opacity: 0;
    }

    100% {

        opacity: 1;
    }

}

.moduleC {
    width: 90%;
    /* background-color: grey; */
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(39, 186, 196);
}

.moduleC span {
    animation: aaa var(--animationTime_dot5s);
}

.moduleD {
    width: 52px;
    height: 52px;
    background-color: rgba(255, 255, 255);
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 50%;
    box-shadow: 0 0 5px #ddd;
}

.moduleD img {
    width: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bbb var(--animationTime_dot8s);
}

@keyframes bbb {
    0% {
        width: 150%;
    }

    100% {
        width: 90%;
    }
}

.moduleE {
    width: 85%;
    height: 50px;
    /* background-color: red; */
}

.staricon {
    margin-top: 10px;
    color: rgb(246, 193, 19);
    font-size: 13px;
    animation: ccc .2s;
}

@keyframes ccc {
    0% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.clearStar {
    margin-top: 10px;
    color: rgb(246, 193, 19);
    font-size: 13px;
    animation: ddd .3s;
    opacity: 0;
}

@keyframes ddd {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

/* 页脚 */
.footer {
    width: 100%;
    height: 10vh;
    background-color: black;
    position: relative;
    margin-top: 10vh;
    bottom: 0;
    font-weight: bold;
    font-family: monospace, Courier, 'Courier New';
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer span {
    /* background-color: #ccc; */
    height: 3vh;
    line-height: 3vh;
    margin: .2vh;
}

.footer a {
    color: white;
    text-decoration-color: #ccc;
}

.wepListA {
    display: block;
}

.wepListA li {
    height: 4vh;
    line-height: 4vh;
}

.liChecked {
    font-weight: bold;
    background-color: aliceblue;
}

.siftListHidden {
    display: none;
}

.wepSiftChoose {
    cursor: pointer;
    text-align: center;
}

.wepSiftChoose span {
    height: 4vh;
    line-height: 4vh;
}