* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    /* 文字不可选中 */
}

:root {
    --animationTime_dot5s: .5s;
    --animationTime_dot8s: .8s;
    --animationTime_dot2s: .2s;
    --animationTime_dot3s: .3s;
    --weplistWidth: 200px;
    --mainColor1: rgb(99, 208, 208);
    --mainColor2: rgb(40, 181, 202);
    --mainColor3: rgb(175, 199, 255);
}

.bodyMain {
    /* background-color: red; */
    position: relative;
}

li {
    text-align: center;
    list-style: none;
    cursor: pointer;
}

.main {
    position: relative;
    width: 80vw;
    height: 48vh;
    /* z-index: 1; */
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
}



.weplist {
    width: var(--weplistWidth);
    height: 48vh;
    /* border: 1px solid black; */
    overflow: auto;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* background-color: red; */
}

.listChoose {
    width: 100px;
    height: min-content;
    background-color: rgb(255, 255, 255);

    /* position: absolute; */
    /* left: calc(var(--weplistWidth)); */
}

/* ::-webkit-scrollbar {}

::-webkit-scrollbar-thumb {}

::-webkit-scrollbar-track {} */

.weplist li {
    height: 6vh;
    line-height: 6vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
}

.weaponShowBox {
    width: 90vw;
    height: 85vh;
    background-color: transparent;
    background-image: linear-gradient(135deg, var(--mainColor1), var(--mainColor2), var(--mainColor3));
    box-shadow: 0 0 10px #ccc;
    position: relative;
    top: 2vh;
    left: 50vw;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moduleA {
    width: 90%;
    height: 40px;
    background-color: rgba(254, 235, 235, 0.3);
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    box-shadow: 0 1px 5px rgba(13, 94, 144, 0.785);

}

.moduleA span {
    /* background-color: red; */
    color: #fff;
    font-weight: bold;
    display: block;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    animation: aaa var(--animationTime_dot5s);
}

.moduleB {
    width: 90%;
    /* background-color: grey; */
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-top: 8px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0px 3px rgb(39, 186, 196);
    /* animation: aaa .5s; */
}

.moduleB span {
    animation: aaa var(--animationTime_dot5s);
}



.moduleC {
    width: 90%;
    /* background-color: grey; */
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(39, 186, 196);
}

.moduleC span {
    animation: aaa var(--animationTime_dot5s);
}

.moduleD {
    width: 52px;
    height: 52px;
    background-color: rgba(255, 255, 255);
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 50%;
    box-shadow: 0 0 5px #ddd;
}

.moduleD img {
    width: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bbb var(--animationTime_dot8s);
}

.moduleE {
    width: 85%;
    height: 4vh;
    /* background-color: red; */
}

.wepLevel {
    width: 90%;
    height: 4vh;
    /* background-color: red; */
    position: relative;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
}

.wepLevel span {
    color: #fff;
    background-color: rgb(0, 0, 0, 0.7);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    width: 20vw;
    height: 4vh;
    line-height: 4vh;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: .5vh;
}

.wepLevel input {
    appearance: none;
    width: 55vw;
    height: 2.5vh;
    position: absolute;
    left: 25vw;
    border-radius: .5vh;
    box-shadow: 0 0 10px #ccc;
    outline: 0;
}

::-webkit-slider-thumb {
    appearance: none;
    width: 3vh;
    height: 5vh;
    background-color: rgb(0, 0, 0, .9);
    border-radius: .7vh;
}

/* 动画 */
@keyframes aaa {
    0% {
        opacity: 0;
    }

    100% {

        opacity: 1;
    }

}

@keyframes bbb {
    0% {
        width: 150%;
    }

    100% {
        width: 90%;
    }
}

@keyframes ccc {
    0% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes ddd {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes heightShow {
    0% {
        height: 0;
        overflow: hidden;
    }

    100% {
        overflow: hidden;
        height: 20vh;
    }
}

@keyframes heightBack {
    0% {
        height: 20vh;
    }

    100% {
        height: 0;
    }
}


/* 星星icon添加 */
.staricon {
    margin-top: 10px;
    color: rgb(246, 193, 19);
    font-size: 13px;
    animation: ccc .2s;
}

/* 星星icon隐藏 */
.clearStar {
    margin-top: 10px;
    color: rgb(246, 193, 19);
    font-size: 13px;
    animation: ddd .3s;
    opacity: 0;
}

/* 下拉菜单指示箭头方向变化 */
.wepSiftChoose i {
    margin-left: 1vw;
    transition: all var(--animationTime_dot2s);
}

.arrowUp {
    transform: rotate(180deg);
    transition: all var(--animationTime_dot2s);
}

.wepListA {
    display: block;
    color: rgb(158, 158, 158);
    animation: heightShow .4s;
}

.siftListHidden {
    color: rgb(158, 158, 158);
    height: 0;
    animation: heightBack .4s;
    opacity: 0;
    overflow: hidden;

}

.wepListA li {
    height: 4vh;
    line-height: 4vh;
}

.liChecked {
    width: 90%;
    font-size: 90%;
    font-weight: bold;
    color: #fff;
    padding-right: 10px;
    transform: translateX(20px);
    border-top-right-radius: 4vh;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 2px rgb(93, 93, 93);
    transition: all var(--animationTime_dot3s);
}

.liUnChecked {
    /* transition: all .2s; */
}



.wepSiftChoose {
    cursor: pointer;
    text-align: center;
}

.wepSiftChoose span {
    height: 4vh;
    line-height: 4vh;
    font-size: 16px;
    font-weight: bold;
}



/* 页脚 */
.footer {
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.85);
    position: relative;
    margin-top: 6vh;
    font-weight: bold;
    font-family: monospace, Courier, 'Courier New';
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer span {
    /* background-color: #ccc; */
    height: 3vh;
    line-height: 3vh;
    margin: .2vh;
}

.footer a {
    color: white;
    text-decoration-color: #ccc;
}